/*
Syntax error: File to import not found or unreadable: config/config.
              Load paths:
                /var/www/tsmith512.com/fk.wpstyle/worldpulse-styleguide/sass
                /home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets
                /home/tsmith/.rvm/gems/ruby-2.1.1/gems/sassy-maps-0.3.2/stylesheets
                /home/tsmith/.rvm/gems/ruby-2.1.1/gems/breakpoint-2.4.2/stylesheets
                /home/tsmith/.rvm/gems/ruby-2.1.1/gems/singularitygs-1.2.0/stylesheets
                /home/tsmith/.rvm/gems/ruby-2.1.1/gems/toolkit-2.0.1/stylesheets
                Compass::SpriteImporter
        on line 16 of /var/www/tsmith512.com/fk.wpstyle/worldpulse-styleguide/sass/maintenance.scss

Backtrace:
/var/www/tsmith512.com/fk.wpstyle/worldpulse-styleguide/sass/maintenance.scss:16
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:45:in `import'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/compiler.rb:24:in `compile'
/home/tsmith/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/forwardable.rb:183:in `compile'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:113:in `sass_removed'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:93:in `sass_callback'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `call'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `run_callback'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:69:in `block in listen_callback'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `each'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `listen_callback'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/home/tsmith/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: config/config.\A               Load paths:\A                 /var/www/tsmith512.com/fk.wpstyle/worldpulse-styleguide/sass\A                 /home/tsmith/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets\A                 /home/tsmith/.rvm/gems/ruby-2.1.1/gems/sassy-maps-0.3.2/stylesheets\A                 /home/tsmith/.rvm/gems/ruby-2.1.1/gems/breakpoint-2.4.2/stylesheets\A                 /home/tsmith/.rvm/gems/ruby-2.1.1/gems/singularitygs-1.2.0/stylesheets\A                 /home/tsmith/.rvm/gems/ruby-2.1.1/gems/toolkit-2.0.1/stylesheets\A                 Compass::SpriteImporter\A         on line 16 of /var/www/tsmith512.com/fk.wpstyle/worldpulse-styleguide/sass/maintenance.scss"; }
