/**
 * The World Pulse wordmark in various settings
 */
.logo-crimson-glow, .logo-crimson-solid, .logo-white-glow, .logo-white-solid {
  max-width: 425px;
}
.logo-crimson-glow .logo, .logo-crimson-solid .logo, .logo-white-glow .logo, .logo-white-solid .logo {
  margin: 0;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  height: 0;
  padding-bottom: 22.22222%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo-crimson-glow .logo {
  background-color: transparent;
  background-image: url('../images/logos/logo-crimson-glow.png');
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-crimson-glow .logo {
    background-image: url('../images/logos/logo-crimson-glow-2x.png');
  }
}

.logo-crimson-solid .logo {
  background-color: transparent;
  background-image: url('../images/logos/logo-crimson-solid.png');
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-crimson-solid .logo {
    background-image: url('../images/logos/logo-crimson-solid-2x.png');
  }
}
.svg .logo-crimson-solid .logo {
  background-image: url('../images/logos/logo-crimson-solid.svg');
}

.logo-white-glow .logo, .logo-white-glow.crimson-gradient .logo:after {
  background-color: #71060b;
  background-image: url('../images/logos/logo-white-glow.png');
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-white-glow .logo, .logo-white-glow.crimson-gradient .logo:after {
    background-image: url('../images/logos/logo-white-glow-2x.png');
  }
}

.logo-white-solid .logo, .logo-white-solid.crimson-gradient .logo:after {
  background-color: #71060b;
  background-image: url('../images/logos/logo-white-solid.png');
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-white-solid .logo, .logo-white-solid.crimson-gradient .logo:after {
    background-image: url('../images/logos/logo-white-solid-2x.png');
  }
}
.svg .logo-white-solid .logo, .svg .logo-white-solid.crimson-gradient .logo:after {
  background-image: url('../images/logos/logo-white-solid.svg');
}

.logo-white-solid.bright-crimson .logo, .logo-white-glow.bright-crimson .logo {
  background-color: #b00911;
}
.logo-white-solid.crimson-gradient .logo, .logo-white-glow.crimson-gradient .logo {
  position: relative;
  z-index: 10;
  background-color: transparent;
}
.logo-white-solid.crimson-gradient .logo:before, .logo-white-solid.crimson-gradient .logo:after, .logo-white-glow.crimson-gradient .logo:before, .logo-white-glow.crimson-gradient .logo:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
}
.logo-white-solid.crimson-gradient .logo:before, .logo-white-glow.crimson-gradient .logo:before {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b00911), color-stop(30%, #98080f), color-stop(70%, #89070e), color-stop(100%, #71060b));
  background-image: -webkit-linear-gradient(#b00911, #98080f 30%, #89070e 70%, #71060b);
  background-image: -moz-linear-gradient(#b00911, #98080f 30%, #89070e 70%, #71060b);
  background-image: -o-linear-gradient(#b00911, #98080f 30%, #89070e 70%, #71060b);
  background-image: linear-gradient(#b00911, #98080f 30%, #89070e 70%, #71060b);
}
.logo-white-solid.crimson-gradient .logo:after, .logo-white-glow.crimson-gradient .logo:after {
  background-color: transparent !important;
}
