.styleguide-container header, .styleguide-container footer {
  padding: 0.5em;
}
.styleguide-container header > div, .styleguide-container footer > div {
  margin: 0 auto;
  max-width: 1000px;
}
.styleguide-container > header {
  background-color: black;
  color: white;
  margin-bottom: 1em;
}
.styleguide-container > footer {
  margin-top: 2em;
  color: #999;
  font-size: 0.75em;
  border-top: 1px solid #CCC;
}
.styleguide-container > main {
  margin: 0 auto;
  max-width: 1000px;
}

.styleguide-content:after {
  content: "";
  display: table;
  clear: both;
}

.styleguide-nav {
  width: 21.73913%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  float: left;
  width: 20%;
  font-size: 0.875em;
}
.styleguide-nav ul, .styleguide-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.styleguide-nav ul {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #f8f8f8;
}
.styleguide-nav li.heading, .styleguide-nav a {
  display: block;
  padding: 0.5em;
  border-top: 1px solid #f8f8f8;
  background-color: #eee;
  border-bottom: 1px solid #d6d6d6;
}
.styleguide-nav li.heading {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
}
.styleguide-nav a {
  padding-left: 1em;
  text-decoration: none;
}
.styleguide-nav a:hover {
  background: #f2f2f2;
}

.styleguide-index {
  width: 73.91304%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  overflow: hidden;
}

.styleguide-sample {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 1em auto;
}
.styleguide-sample .example, .styleguide-sample .code {
  padding: 1em;
}
.styleguide-sample .code {
  border-top: #ddd;
  background: #f4f4f4;
}
.styleguide-sample .code pre {
  margin: 0;
  font-size: 0.75em;
}
