/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: wp-color($grey);
  background: {
    color: wp-color($grey, dark, -5%);
    image: image-url('textures/noise.png');
    position: 50% 50%;
    repeat: repeat repeat;
  }
}

// Headings
//
// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

#{headings()} {
  font-family: $gotham;
  font-weight: 600;
  line-height: 1.125;
}

#{headings(1,2)} {
  letter-spacing: -1px;
}
#{headings(4,6)} {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: wp-color($red);
}

h1 {
  color: wp-color($purple, main, -2.5%);
}

h2 {
  color: wp-color($purple);
}

h3 {
  color: wp-color($purple);
}

h4 {

}

h5 {

}

h6 {

}


// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {

  &:link {
    color: $link;
  }

  &:visited {
    color: $visited;
    &:hover, &:focus {
      color: wp-color($purple);
    }
  }

  &:hover, &:focus {
    color: wp-color($blue, dark);
  }

  &:active {
    color: wp-color($red, dark);
  }
}


// Lists

ul, ol {

  &.inline {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1em;
      @include rtl {
        margin-left: 1em;
        margin-right: 0;
      }
    }
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {

}

ol {

}

li {

}

ul.unstyled,
ol.unstyled {

}

// Misc.

hr {
  height: 0;
  border: 0;
  border-top: 1px solid wp-color($grey, highlight, -7.5%);
  margin: 1em 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection { background: $selection-bg; color: $selection; text-shadow: none; }
::selection { background: $selection-bg; color: $selection; text-shadow: none; }

code, kbd, pre, samp {
  font-family: $monospace;
}

blockquote {
  position: relative;

  font-family: $archer;
  color: wp-color($orange, 'dark', -5%);
  margin: 1em 1.5em;

  @include respond-to('blockquote frame') {
    quotes: "\201C""\201D""\2018""\2019";
    padding: 0 36px;
    margin: 2em 1em;
  }
  border-left: 0;

  @include respond-to('blockquote indent') { margin: 2em 1.75em; padding: 0 42px; }
  @include respond-to('blockquote indent more') { margin: 2em 2.5em; padding: 0 48px; }

  @include respond-to('blockquote frame') {
    &:before, &:after, footer {
      font-family: $archer;
      font-style: italic;
      font-weight: 400;
      color: wp-color($orange, 'dark');
    }

    &:before, &:after {
      position: absolute;
      font-size: 3em;
      @include respond-to('blockquote indent') { font-size: 4em; }
      line-height: 0;
    }

    &:before {
      top: 0.25em;
      left: 0;
      content: open-quote;
    }

    &:after {
      bottom: 0;
      right: 0;
      content: close-quote;
    }
  }

  footer {
    display: block;
    font-size: 0.875em;
    text-align: right;

    &:before { content: "\2014"; }
  }
}

.sep {
  // Separators (probably pipe characters "|" but also small words like "by" in comment-meta)
  @include opacity(0.75);
}
