.icon-abuse:hover,
.flag-wp-flag-comments-abuse a:hover,
.icon-abuse-red { background-image: url('png/abuse-red.png'); background-repeat: no-repeat; }

.icon-abuse.unflag-action,
.icon-abuse-red_dark { background-image: url('png/abuse-red_dark.png'); background-repeat: no-repeat; }

.flag-wp-flag-comments-abuse .flag-action,
.icon-abuse { background-image: url('png/abuse.png'); background-repeat: no-repeat; }

.icon-cc:hover,
.icon-cc-blue { background-image: url('png/cc-blue.png'); background-repeat: no-repeat; }

.icon-cc { background-image: url('png/cc.png'); background-repeat: no-repeat; }

.icon-close:hover,
#cboxClose:hover,
.chosen-container-multi .search-choice-close:hover,
.icon-close-blue { background-image: url('png/close-blue.png'); background-repeat: no-repeat; }

#cboxClose,
.icon-close-highlight { background-image: url('png/close-highlight.png'); background-repeat: no-repeat; }

.chosen-container-multi,
.search-choice-close,
.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices,
.icon-down-light { background-image: url('png/down-light.png'); background-repeat: no-repeat; }

.icon-down { background-image: url('png/down.png'); background-repeat: no-repeat; }

.icon-edit:hover,
.draggable a.tabledrag-handle .handle:hover,
.icon-drag-blue { background-image: url('png/drag-blue.png'); background-repeat: no-repeat; }

.icon-edit:hover,
.draggable a.tabledrag-handle .handle,
.icon-drag { background-image: url('png/drag.png'); background-repeat: no-repeat; }

.icon-edit:hover,
.icon-edit-blue { background-image: url('png/edit-blue.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.field-name-field-post-access input:checked + label .icon-friends,
.icon-friends-highlight { background-image: url('png/friends-highlight.png'); background-repeat: no-repeat; }

.icon-friends { background-image: url('png/friends.png'); background-repeat: no-repeat; }

.field-name-field-post-type input:checked + label .icon-group,
.icon-group-highlight { background-image: url('png/group-highlight.png'); background-repeat: no-repeat; }

.icon-group { background-image: url('png/group.png'); background-repeat: no-repeat; }

.icon-home-blue { background-image: url('png/home-blue.png'); background-repeat: no-repeat; }

.icon-home-light { background-image: url('png/home-light.png'); background-repeat: no-repeat; }

.breadcrumb a:hover .icon-home-light,
.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-icon-drag { background-image: url('png/icon-drag.png'); background-repeat: no-repeat; }

.field-name-field-post-type input:checked + label .icon-journal,
.icon-journal-highlight { background-image: url('png/journal-highlight.png'); background-repeat: no-repeat; }

.icon-journal { background-image: url('png/journal.png'); background-repeat: no-repeat; }

.icon-next:hover,
#cboxNext:hover,
.icon-next-blue { background-image: url('png/next-blue.png'); background-repeat: no-repeat; }

#cboxNext,
.icon-next-highlight { background-image: url('png/next-highlight.png'); background-repeat: no-repeat; }

.icon-next { background-image: url('png/next.png'); background-repeat: no-repeat; }

.icon-prev:hover,
#cboxPrevious:hover,
.icon-prev-blue { background-image: url('png/prev-blue.png'); background-repeat: no-repeat; }

#cboxPrevious,
.icon-prev-highlight { background-image: url('png/prev-highlight.png'); background-repeat: no-repeat; }

.icon-prev { background-image: url('png/prev.png'); background-repeat: no-repeat; }

.field-name-field-post-access input:checked + label .icon-private,
.icon-private-highlight { background-image: url('png/private-highlight.png'); background-repeat: no-repeat; }

.icon-private { background-image: url('png/private.png'); background-repeat: no-repeat; }

.field-name-field-post-access input:checked + label .icon-public,
.icon-public-highlight { background-image: url('png/public-highlight.png'); background-repeat: no-repeat; }

.icon-public { background-image: url('png/public.png'); background-repeat: no-repeat; }

.icon-redact:hover,
.icon-redact-red { background-image: url('png/redact-red.png'); background-repeat: no-repeat; }

.icon-redact { background-image: url('png/redact.png'); background-repeat: no-repeat; }

.icon-region { background-image: url('png/region.png'); background-repeat: no-repeat; }

.icon-reply:hover,
.icon-reply-blue { background-image: url('png/reply-blue.png'); background-repeat: no-repeat; }

.icon-reply { background-image: url('png/reply.png'); background-repeat: no-repeat; }

.chosen-container-single input[type="text"],
.icon-search-light { background-image: url('png/search-light.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-tags { background-image: url('png/tags.png'); background-repeat: no-repeat; }

