/**
 * Icons
 */
%worldpulse-icon {
  position: relative;

  display: inline-block; // @TODO: IE6/7??
  vertical-align: middle;
  line-height: 32px;

  text-indent: -1000px;

  // @TODO: Is 32px the right size here?
  height: 32px;
  width: 32px;
  line-height: 32px;

  margin: 0.5em;

  background: {
    position: center center;
    repeat: no-repeat;
    size: contain;
  }

  .svg & {
    background-size: 40px; // Iconmonstr's SVG files seem to have some whitespace around the artboard.
  }

  &.show-tooltip:after {
    position: absolute;
    display: none;
    z-index: 1000;
    top: 28px;
    left: -24px;
    width: 80px;

    font-size: 0.75em;
    line-height: 1.15;

    text-indent: 0;
    text-align: center;
    content: attr(data-desc);

    border: 1px solid nth($purple, 3);
    border-bottom-width: 2px;
    @include border-radius(2px);
    padding: 0.5em 0.25em;

    background-color: lighten(nth($grey, 4), 5%);
    color: nth($purple, 3);
  }

  &.show-tooltip:hover:after {
    display: block;
  }
}

$icons: // All icons
  "abuse"
  "cc"
  "friends"
  "private"
  "public"
  "region"
  "tags"
;

$hovers: // Icons which have images for a hover-state. Although Compass throws
         // errors for image-url() files that don't exist, it doesn't provide a
         // way to check for this automatically.
  "abuse"
;

@each $icon in $icons {
  #{('.icon-' + $icon)} {
    @extend %worldpulse-icon;
    background-image: image-url('icons/icon-' + $icon + '-32.png');
    @include respond-to('hi res') { background-image: image-url('icons/icon-' + $icon + '-64.png'); }
    .svg & { background-image: image-url('icons/icon-' + $icon + '.svg'); }

    @if ( index($hovers, $icon) ) {
      &:hover {
        background-image: image-url('icons/icon-' + $icon + '-32-hover.png');
        @include respond-to('hi res') { background-image: image-url('icons/icon-' + $icon + '-64-hover.png'); }
        .svg & { background-image: image-url('icons/icon-' + $icon + '-hover.svg'); }
      }
    }
  }
}

/**
 * Individual tweaks
 */

.icon-abuse.show-tooltip:after {
  color: nth($red, 2);
  border-color: lighten(nth($red, 1), 5%);
}