/**
 * @file _password-field.scss
 * A form element which needs a whole lot of extra styling, so it gets its own
 * partial to keep things tidy.
 */

.form-type-password {
  .password-confirm {
    .error { color: wp-color($red);   }
    .ok    { color: wp-color($green); }
  }

  .password-strength, div.password-confirm { // Because "input.password-confirm" is something else. :(
    @extend %clearfix;

    @include respond-to('wide form labels') {
      float: right;
      width: 35%;
      padding: 0.25em 0;
    }
  }

  div.password-confirm { // "input.password-confirm" is the password field, limit to text notice
    visibility: hidden; // Default state.

    @include respond-to('wide form labels') {
      margin-top: 0.625em;
    }

    span { font-weight: 600; }
  }

  .password-strength-text {
    // So Drupal stupidly puts this ahead of its title in the markup, so we have
    // to get a little tricky with it, since its meaning comes from being after
    // the title...
    float: right;
  }
  .password-strength-title {
    float: left;
  }

  .password-indicator {
    clear: both;
    position: relative;
    z-index: 1;

    background-color: wp-color($grey, bright);
    @include border-radius(3px);
    height: 0.75em;

    .indicator {
      position: relative;
      z-index: 5;

      height: 0.75em;
      width: 0; // To start. Drupal's JS sets this width as strength increases.
      @include border-radius(3px);
      background-color: wp-color($green);
    }
  }



  &.form-item-pass-pass1, &.form-item-pass-pass2 {
    input {
      @include respond-to('wide form labels') {
        margin: 0.5em 5% 0 0;
        width: 40%;
      }
    }
  }
}
