/**
 * @file _main.scss
 * The main region container. Minor styles only.
 */

#main {
  background: {
    color: wp-color($grey, highlight);
    image: inline-image('textures/stripes.png'); // This is stupidly small, so we get a benefit from inlining the image.
    repeat: repeat;
  }

  .main-container {
    padding: {
      top: 1em;
      bottom: 1em;
    }
  }
}
