/**
 * @file _node-post.scss
 * Styles for Journal Post nodes.
 * Consider what should be Journal-specific and what should be general node styles instead...
 */

.node-post {
  header {
    h1 {
      margin-top: 0;
      float: left;
    }
    .privacy-status {
      clear: left;
      span {
        margin-top: 0;
        margin-left: 0;
      }
    }

    .abuse-info {
      float: right;
      line-height: 32px;
    }

    a.flag {
      margin: 0 0 0 8px;
    }

    .reported {
      @include border-radius(3px);
      padding: 0.375em;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 0.75em;
      color: wp-color($red, highlight, 5%);
      background-color: wp-color($red, bright, -5%);
    }

  }

  .field-post-image-gallery {
    @extend %clearfix;
    list-style: none;
    margin: 1em auto;
    @include respond-to('post gallery medium') { margin-top: -0.5em; }
    @include respond-to('post gallery wide') { margin-top: -0.75em; }
    padding: 0;

    li {
      list-style: none;

      @include grid-span(8,0, $gutter: 0, $output-style: 'float', $grid: 24);

      @include respond-to('post gallery medium') {
        @include grid-span(6,0, $gutter: 1/2, $output-style: 'float', $grid: 24);
        &:nth-child(4n) { margin-right: 0; }
        margin-top: 0.5em;
      }

      @include respond-to('post gallery wide') {
        @include grid-span(4,0, $gutter: 1/2, $output-style: 'float', $grid: 24);
        &:nth-child(6n) { margin-right: 0; }
        margin-top: 0.75em;
      }

    }

    a {
      display: block;

      margin: 0.25em;
      padding: 0.25em;
      @include respond-to('post gallery medium') { margin: 0; }
      @include respond-to('post gallery wide') { margin: 0; }

      border: 1px solid wp-color($grey, highlight);
      @include border-radius(3px);
      @include transition(border 0.2s ease-out);
      &:hover { border-color: wp-color($grey, highlight, -7.5%); }
    }

    img {
      display: block;
    }
  }

  .field-post-cover-image-wrapper {
    @include box-sizing(content-box); // To make it easier to fill the full width
    margin-top: -1em;
    margin-left: -1em;
    margin-bottom: 1em;
    width: 100%;
    padding: 0 1em; // To match the padding that's on the node container (pane)

    position: relative;
    overflow: hidden;
    @include border-radius(3px 3px 0 0);


    figure {
      margin: 0;

      // To combat nested padding, we force the image to be too wide, and then
      // cropped by the container's overflow:hidden. This results in a very thin
      // margin being cropped on the sides of the image, but the goal is to
      // minimize this and also avoid using JavaScript to make this positioning
      // more complicated.
      max-width: 120%;
      width: 120%;
      position: relative;
      left: -10%;
    }

    img {
      display: block;
    }

    figcaption {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 0.75em;
      padding: 0.375em 8.5%;
      color: wp-color($grey, highlight);
      background-color: wp-color($grey, dark, -5%);
      background-color: rgba(0,0,0,0.8);

      p:first-child {
        // The title; or the caption without a title
        margin-top: 0;
        font-weight: 600;
      }

      p:last-child { margin-bottom: 0; }

    }
  }
}


/**
 * Node Type: Journal Post
 * /

article.node-journal-post {
  header, footer {
    dl {
      @extend .clearfix;
      margin: 0;
    }

    dd, dt {
      margin-left: 0;
    }
  }

  header {
    position: relative;

    padding-bottom: 0.5em;
    @include respond-to('journal meta small') {
      padding-right: 64px; // Make room for the abuse icon
    }
    border-bottom: 2px solid wp-color($grey, 'highlight', -5%);
    margin-bottom: 0.25em;

    dt { display: none; }
    dd {
      display: block;
      text-align: center;

      @include respond-to('journal meta small') {
        display: inline;
        text-align: left;
        margin: 0 0.5em;
        &:first-of-type { margin-left: 0; }
      }
    }

    .icon-abuse {
      display: block;
      margin-left: auto;
      @include respond-to('journal meta small') {
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }
  }

  footer {
    margin-top: 0.5em;
    border-top: 2px solid wp-color($grey, 'highlight', -5%);
    padding-top: 0.5em;

    dl.post-meta {
      dt {
        text-align: center;
        // @TODO: This include wouldn't output _any_ code at all without all these
        // variables being redeclared here. But it wasn't throwing an error. Fix??
        @include respond-to('journal meta small') {
          @include grid-span(1, 1);
          clear: left;
        }
      }

      dd {
        text-align: center;
        // @TODO: This include wouldn't output _any_ code at all without all these
        // variables being redeclared here. But it wasn't throwing an error. Fix??
        @include respond-to('journal meta small') {
          @include grid-span(11, 2);
          text-align: left;
          line-height: 32px; // If there's a second row of text, this will be awful...
        }

        // <dt/> contains an icon, so let's line it up properly:
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }

    dl.recommend {
      margin-top: 0.5em;

      dt {
        display: none;
      }
      dd.cta {
        text-align: center;

        @include respond-to('journal meta full') {
          @include grid-span(3, 2);

          button {
            font-size: 0.75em;
            font-weight: 400;
            padding: 0.375em 0.25em;
            width: 100%;
            margin-bottom: 1em;
          }
        }

        @include respond-to('journal meta large') {
          @include grid-span(2, 2);
        }
      }
      dd.users {
        @include respond-to('journal meta full') {
          @include grid-span(8, 5);
        }
        @include respond-to('journal meta large') {
          @include grid-span(9, 4);
        }

        ul, li {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        ul {
          @extend .clearfix;
        }

        li {
          @include grid-span(2, 1, $output-style: 'float');
          &:nth-child(6n+0) {
            margin-right: 0;
          }
        }

        img {
          display: block;
          position: relative;
          @include border-radius(3px);
        }
      }
    }
  }
}

// */
