/**
 * @file _node.scss
 * Generic node styles
 */

.node {
  &.node-unpublished {
    // Reposition an unpublished node within its content pane so that we can have
    // an alternate background color that fills the whole space.
    @include box-sizing(content-box);
    position: relative;
    width: 100%;
    margin-bottom: -2em;
    left: -1em;
    top: -1em;
    padding: 1em;
    background-color: wp-color($red, highlight, 17.5%);
  }

  header {
    // For nodes which don't use our 'header-metadata' set (currently Groups)
    // make sure there isn't a top-margin on the article title.
    h1, h2 { margin-top: 0; }
  }

  .content {
    // Content may contain floated elements, wrap them properly.
    @extend %clearfix;
  }
}
