/**
 * @file _user-badges.scss
 */
.user_badges { // Yes, this module outputs "_" not "-"

  img {
    display: inline-block;
    margin: 0 1em 0 0;
    @include rtl { margin: 0 0 0 1em; }
  }


  // In the sidebar (usually a teaser view), center the badges
  .column-2 & {
    text-align: center;
    img { margin: 0 0.5em; }
  }

}
