/**
 * @file _view.scss
 * Some general Views work, particularly useful in OG admin areas that display
 * in the front-end theme
 */

.view {
  .views-exposed-form {
    margin-bottom: 1em;

    input[type="submit"] {
      @extend %btn-primary;
    }

    @include respond-to('wide form labels') {
      label {
        float: left;
        width: 18%;
        margin-right: 2%;
        padding: 0.5em 0;
      }

      input, .description {
        float: right;
        width: 80%;
      }

      input[type="submit"] {
        float: none;
        width: auto;
      }
    }
  }

  .vbo-views-form {
    .fieldset-wrapper {
      @extend %clearfix;
    }

    .form-item-operation {
      float: left;
      margin-bottom: 0;
      select, + input[type="submit"] {
        vertical-align: middle;
      }

      + input[type="submit"] {
        margin-top: 0.125em;
        margin-left: 1em;
      }
    }
  }

  // The read-more link that shows underneath node teasers. If it's appearing
  // in a view, it's obvious that it is excerpted content.
  .node-readmore {
    display: none;
  }

  // For list views of rendered entities (generally teasers):
  .views-row article {
    padding-bottom: 1em;
    border-bottom: 1px solid wp-color($grey, highlight, -5%);
    margin-bottom: 1em;

    h3, :first-child {
      margin-top: 0;
    }
  }

  // Smaller buttons for Views when placed in secondary panels regions.
  // Additional usage of secondary content panels is defined in _panel-pane.scss
  .l-two-column .column-2 & {
    .button {
      @extend %btn-small;
    }
  }
}
