
/**
 * @file
 * Styles for system messages.
 */

div.messages {
  color: wp-color($grey, 4);
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  @include border-radius(2px);
  padding: 0.5em;
  margin-bottom: 0.5em;

  &.status {
    border-color: wp-color($green, 1);
    background-color: wp-color($green);
    color: wp-color($grey, 4);
    @include text-shadow(1px 1px 0 rgba(wp-color($green, 1), 5%, -0.5));
    a { color: wp-color($green, 4); }
  }

  &.warning {
    border-color: wp-color($orange, 1);
    background-color: wp-color($orange);
    color: wp-color($grey, 4, 5%);
    @include text-shadow(1px 1px 0 rgba(wp-color($orange, 1), 5%, -0.5));
    a, a:visited {
      color: wp-color($orange, 4, 5%);
    }
  }

  &.error {
    border-color: wp-color($red, 1);
    background-color: wp-color($red);
    color: wp-color($grey, 4);
    @include text-shadow(1px 1px 0 rgba(wp-color($red, 1), 5%, -0.5));
    a { color: wp-color($red, 4); }
  }

}

// Selectors I didn't re-use from system.messages.css originally:

.ok {
}
table tr.ok {
}

table tr.warning {
}

table tr.error {
}
div.error p.error {
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}
div.messages ul li {
}
